.collection > .image {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem;
   padding-right: 0;
   width: auto;
}

.collection > .image > img {
    height: 100%;
    border-radius: 0.5rem;
}

.collection {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.09);
    display: flex;
    gap: 0.5rem;
    height: 10rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.meta {
    padding: 0.5rem;
    padding-left: 0;
    max-width: 60%;
    max-height: 10rem;
    overflow: hidden;
}

.meta h2 {
    font-size: 1.2rem;
}

.extended-view {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.extended-body {
    overflow: hidden;
    background-color: var(--surface);
    width: 100%;
    max-width: 830px;
    height: 70vh;
    position: relative;
    bottom: 0;
    border-radius: 1rem 1rem 0rem 0rem;

    animation-name: animateBodyIn;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.banner {
    width: 100%;
    height: auto;
    max-height: 10rem;
    object-fit: cover;
    filter: blur(1.5px);
}

.photos {
    position: relative;
    height: 160px;
}

.center-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: flex;
}

.extended-content {
    width: 100%;
    padding: 0.7rem;
    overflow: scroll;
    height: calc(70vh - 160px);
}

.title {
    padding: 0.5rem;
    max-width: 70%;
}

.shortDesc {
    font-size: 0.8rem;
}

.gray {
    color: rgb(177, 177, 177);
}

h1.long {
    font-size: 1rem;
}

.ratings-innercircle {
    stroke-dasharray: 300;
    transition: .9s;
}

.ratings-text {
    font-size: 2.5rem;
    fill: white;
}

.userRating {
    width: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}

.title-contrast {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 0.2rem;
}

.collection-rating {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.collection-rating path {
    fill: var(--primary);
}

.meta-agerating {
    border: 2px solid gray;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.meta-row {
    margin-top: 1rem;
}

@keyframes animateBodyIn {
    from {
        transform: translateY(200%);
    }

    to {
        transform: none;
    }
}

