.row {
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.09);
    padding: 0.5rem;
}

.fat-row {
    margin-bottom: 0.6rem;
    display: block;
    background-color: rgba(255, 255, 255, 0.09);
    padding: 0.5rem;
}

.fat-row p {
    width: 100%;
    display: block;
}

.fat-row textarea {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.09);
    color: white;
    border: none;
    border-radius: .2rem;
    min-height: 3rem;
}

.row:last-child {
    margin-bottom: 0;
}