.NavBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    z-index: 500;
}

.NavBarItem {
    height: 3rem;
    text-align: center;
    font-size: 0.6rem;
}

.NavBarItem.disabled {
    cursor: not-allowed;
    color: grey;
}

.NavBarItem.disabled > svg > path {
    fill: gray;
}