.select {
    background-color: transparent;
    color: var(--on-background);
    border: none;
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 0.2rem;
    display: block;
    width: 100%;
}

.file {
    background-color: transparent;
    color: var(--on-background);
    border: none;
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.files {
    padding: 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.filesFooter {
    display: flex;
    gap: 1rem;
    float: right;
}

.filesPath {
    color: gray;
}

.filesPathCurrent {
    color: var(--secondary);
}

.fileModalHeader {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.fileModalHeader > input {
    color: white;
    background-color: var(--lifted);
    border: 0;
    padding: 0.2em;
    font-size: 1rem;
    border-radius: 0.2rem;
}

.fileModalHeader > select {
    width: auto;
    background-color: var(--lifted);
    padding: 0.2em;
}

.fileNames {
    color: var(--primary);
}

.fileNamesEmpty {
    color: gray;
}

.fileCannotSelect {
    color: gray;
    background-color: var(--lifted);
    padding: 0.33em;
    border-radius: .2rem;
    font-size: 1rem;
}