.label {
    color: rgba(255, 255, 255, 0.666);
}

.container {
    --ctx_on_bg: white;
    background-color: var(--lifted);
    display: flex;
    border-radius: 0.2rem;
    padding: 0.33rem;
    gap: 0.5rem;
    position: relative;
}

.container.error {
    outline: 2px solid var(--error);
}

.input {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.2rem;
    color: var(--ctx_on_bg);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
}

.error_message {
    padding: 0.5rem 0.5rem 0 0rem;
    font-size: 0.8rem;
    display: flex;
    --ctx_on_bg: var(--error);
    color: var(--error);
    gap: 0.2rem;
}

.disabled {
    cursor: not-allowed;
    --ctx_on_bg: gray;
}