.searchbar-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    justify-content: center;
}

.searchbar-content {
    width: 100%;
    padding: 1rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    overflow: auto;
}

.search-input {
    width: 90%;
    display: flex;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.search-input > input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}

.searchbar-row {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 90%;
}

.searchbar-row button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.results {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.6rem;
}