.button {
    border: 0;
    background-color: var(--ctx_bg);
    color: var(--ctx_on_bg);

    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 1rem;

    transition: .2s;

    position: relative;
}

.none {
    padding: 0;
}

.disabled {
    cursor: not-allowed;
    --ctx_bg: gray !important;
    --ctx_on_bg: white !important;
}

.wide {
    padding-left: 2rem;
    padding-right: 2rem;
}

.full {
    width: 100%;
}

.loading {
    opacity: 0.7;
}

.icon_loading {
    opacity: 1;
    left: 1rem;
    position: absolute;
    animation-name: icon_spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes icon_spin {
    0% {
        transform: 0;
    }
    100% {
        transform: rotateZ(360deg);
    }
}