.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.type {
    background-color: var(--lifted);
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    --ctx_on_bg: var(--secondary);
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    position: relative;
}

.selected {
    --ctx_on_bg: var(--primary);
    outline: 1px solid var(--primary);
}