.settings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 100px repeat(auto-fill, 100px) 200px;
    width: 100%;
    gap: 3em;
}

.section {
    display: flex;
    flex-direction: column;
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 0.7rem;
    gap: 1rem;
    min-width: 50px;
    height: fit-content;
}

.row {
    display: flex;
    justify-content: space-between;
    --ctx_on_bg: var(--on_surface);
    color: var(--on_surface);
    position: relative;
}

.row::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: calc(-1rem + 45%);
    opacity: 0.5;
}

.row:last-child::after {
    display: none;
}

.meta {
    display: flex;
    gap: 0.5em;
    width: 100%;
    align-items: center;
}