:root {

    --bg-colour: black;
    --on-bg: white;

    --surface: #141414;
    --on-surface: white;

    --primary: #D84727;
    --secondary: #01949A;

    --path: white;

    /* types */
    --info: blue;
    --warning: yellow;
    --error: red;
    --disabled: gray;
    --success: green;
}

input {
    -webkit-appearance: none;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-primary {
    color: var(--primary);
}

body {
    background-color: var(--bg-colour);
    color: var(--on-bg);
}

.center {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.ltr-center-children {
    width: 100%;
    display: flex;
    justify-content: center;
} 

.align-right {
    display: flex;
    width: 100%;
    justify-content: right;
}

.align-left {
    display: flex;
    width: 100%;
    justify-content: left;
}

.full-width {
    width: 100%;
}

.title-gigantic {
    font-size: 10rem;
}

.margin-medium {
    margin: 1rem;
}

.btn {
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.7rem;
    transition: .2s;
    border-color: transparent;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-medium {
    font-size: 1rem;
}

.btn-large {
    font-size: large;
    padding: 1rem;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-error {
    background-color: var(--error);
}

.btn-success {
    background-color: var(--success);
}

path {
    fill: var(--path);
}

.lightly-padded {
    padding: 1rem;
}

button:disabled {
    background-color: var(--disabled);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.spacer {
    padding: 2.5rem;
}

@media only screen and (min-width: 600px) {
    .NavBar {
        padding: 1rem;
        height: 100% !important;
        flex-direction: column;
        top: initial !important;
        left: initial !important;
        width: auto !important;
        position: initial !important;
    }

    #content {
        position: relative;
        width: 90%;
    }

    #main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-grow: 1;
    }
}