* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: rgb(8, 8, 8);
  --on_background: white;
}

body {
  background-color: var(--background);
  color: var(--on_background);
}